@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0a0a0c;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0c;
}

::-webkit-scrollbar-thumb {
  background: #1e1e24;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2d35;
}